.containerPrincipal{
  box-shadow: 40px 30px #457b9d;width:95%; padding-bottom:80px
}
.containerrr {
  flex-direction:row;
  height: 400px;
  width: 80%;
}
.me{
  margin-left:70%;
}
.textAboutMe{
  margin-top: -20%;
  font-size: 50px;
  margin-left: 30px;
}


@media only screen and (max-width: 800px) {
  .containerPrincipal{
    box-shadow: 40px 30px #457b9d;width:85%; padding-bottom:80px
  }
  .me{
    margin-left:5%;
  }
  .containerrr {
    flex-direction:row;
    height: 600px;
    width: 80%;
  }
  .textAboutMe{
    margin-top: 0%;
    font-size: 50px;
    margin-left: 40px;
  }

}